/* Main CSS for frob */

/* -------------------- Structure -------------- */
body{
    background-image: url('/img/bg.png');
    font: 70% "Trebuchet MS", sans-serif;
    color: white;
}

div#main_container{
    margin: 0 auto;
}   

div#categories{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    border-right: solid 1px #aaa;
}

div#notes{
    position: absolute;
    top: 0;
    left: 200px;
    border-left: solid 1px #aaa;
}


/* -------------------- Search box -------------- */
input:not([type=submit]):not([type=file]) {
    background: none;
}

div#search{
    padding-top: 10px;
}

input#search_box{
    width: 190px;
    margin: 0 auto
    margin-top: 10px;
    border: none;
    border-bottom: solid 1px #aaa;
    padding: 5px;
    color: white;
}

/* -------------------- Error box -------------- */
div#error_dialog{
    position: fixed;
    width: 500px;
    top: 0;
    left: 0;
    border: solid 1px red;
    background: #fed;
    color: black;
}



/* -------------------- Categories -------------- */
div.category_container{
    margin: 10px auto;
    padding: 0;
}

div.category_container h3{
    background-color: #035;
    border-top: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
    width: 180px;
    padding: 5px 10px;
    margin: 10px 0;
}

div.category_container ul{
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}

div.category_container ul li{
    padding: 2px 3px;
}


/* -------------------- Notes -------------- */
div.note{
    padding: 5px;
    margin: 15px;
    display: inline-block;
    border: solid 1px grey;
    background: #333;
    width: 500px;
    min-width: 400px;
}

/* -------------------- front -------------- */

div.note_front h3{
    margin: 5px 0;
    font-size: 20px;
    border-bottom: solid 1px #aaa;
    margin-top: 0;
}

div.note_tools{
    text-align: right;
    float: right;
    padding: 0;
    margin: 0;
}

div.note_tools a{
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    vertical-align: center;
    border: solid 1px #aaa;
}


div.note_tools a:hover{
    border: solid 1px #f60;
}

div.note_body{
    /* markdown stuff */
}

div.note_categories{
    /* float: right; */
    margin: 5px;
    text-align: right;
}


span.note_category{
    text-align: left;
    border-radius: 5px;
    display: inline-block;
    background: #f60;
    padding: 1px 4px;
    margin: 0 2px;
}

/* -------------------- back -------------- */
div.note_edit{
    
}

input.edit_note_title{
    font-size: 20px;
    border: none;
    border-bottom: solid 1px #aaa;
    width: 490px;
    display: block;
    color: white;
}

textarea.edit_note_body{
    display: block;
    width: 490px;
    margin: 10px 0;
    min-width: 490px;
    max-width: 490px;
    min-height: 120px;

    border: dashed 1px #aaa;
    background: none;
    color: white;
}


input.edit_note_categories{
    border: none;
    border-bottom: solid 1px #aaa;
    width: 360px;
    display: inline-block;
    color: white;
}

button.note_edit_button{
    display: inline-block;
    width: 50px;
    padding: 0 5px;
    margin: 5px;
}
