<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Frob</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width; initial-scale=0.8; maximum-scale=0.8">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/fontawesome.css">
        <link rel="stylesheet" href="/css/jquery-ui-1.10.4.custom.css">
        <link rel="stylesheet" href="/css/site.css">
        <link rel="stylesheet" href="/css/flash.css">
        <!-- todo: print styles -->

        <script type="text/javascript" src="/js/modernizr-2.6.2.min.js"></script>
        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/js/jquery-ui-1.10.4.custom.min.js"></script>
        <script type="text/javascript" src="/js/jquery.autogrow-textarea.js"></script>
        <script type="text/javascript" src="/js/handlebars-v1.3.0.js"></script>
        <script type="text/javascript" src="/js/autolink-min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <aside>

            <div id="global-actions">
                <a href="#" onclick="go();" title="Go"><span class="fa fa-fw fa-arrow-right"></span></a>
                <a href="#" onclick="clear_all();" title="Clear"><span class="fa fa-fw fa-minus-square"></span></a>
                <a href="#" onclick="rebuild_index();" title="re-index"><span class="fa fa-fw fa-refresh"></span></a>
                <a href="/logout" title="log out"><span class="fa fa-fw fa-lock"></span></a>
            </div>

            <div class="ui-widget">
                <input id="search">
            </div>

            <div id="bookmarks">
            </div>
        </aside>

        <!-- Flash -->
        <% flash.each do |k, v| %>
            <section class="flash <%=h k %>"><%=h v %></section>
        <% end %> 

        <!-- Message and warning box.-->
        <div id="message">
        </div>

        <!-- Working spinner -->
        <div id="working">
            <span class="fa fa-fw fa-spin fa-cog"></span>
        </div>

        <div id="content">
            <!-- content -->
            <article>
                <%= yield %>
            </article>
        </div>





        <!-- Card frame (same for edit and get ) -->
        <script id="cardFrameTemplate" type="text/x-handlebars-template">
            <section class="card" id="card-{{js_id}}">
                <!-- Anchor for this card -->
                <a title="card-{{js_id}}"/>

                <!-- Place where other template content goes -->
                <div class="card-content" id="card-content-{{js_id}}">
                </div>
                
            </section>
        </script>
        

        <!-- Card view content -->
        <script id="cardViewTemplate" type="text/x-handlebars-template">
            <div class="card-banner">
                <span class="fa fa-fw fa-{{type_icon}}"></span>
                <span class="title">{{id}}</span>
                <span class="card-actions">
                <a title="Bookmark" href="#card-{{js_id}}" onclick="toggle_bookmark('{{id}}' )">
                <span class="bookmark-marker-{{js_id}} fa fa-fw fa-bookmark{{#unless bookmarked}}-o{{/unless}}"></span>
                    </a>

                    <a title="Edit" href="#card-{{js_id}}" onclick="edit_card('{{id}}' )">
                        <span class="fa fa-fw fa-pencil"></span>
                    </a>
                    <a title="Delete" href="#card-{{js_id}}" onclick="delete_card('{{id}}' )">
                        <span class="fa fa-fw fa-trash-o"></span>
                    </a>
                    <a title="Hide" href="#card-{{js_id}}" onclick="hide_card('{{id}}')">
                        <span class="fa fa-fw fa-minus-square"></span>
                    </a>
                </span>
            </div>

            <!-- fields go in here from other templates -->
            <div class="fields">
                {{#each card}}
                    <div class="field">
                        <span class="key">{{{@key}}}</span>: <span class="value">{{{this}}}</span>
                    </div>
                {{/each}}
            </div>

        </script>



        <!-- Card contents when editing -->
        <script id="cardEditTemplate" type="text/x-handlebars-template">
            <div class="card-banner">
                <span class="fa fa-fw fa-pencil"></span>
                <span class="title">{{{id}}}</span>
                <span class="card-actions">
                    <a title="Bookmark" href="#card-{{js_id}}" onclick="toggle_bookmark('{{id}}' )">
                        <span class="bookmark-marker-{{js_id}} fa fa-fw fa-bookmark{{#unless bookmarked}}-o{{/unless}}"></span>
                    </a>

                    <a title="Discard" href="#card-{{js_id}}" onclick="discard_edits('{{id}}' )">
                        <span class="fa fa-fw fa-times"></span>
                    </a>
                    <a title="Save" href="#card-{{js_id}}" onclick="save_edits('{{id}}' )">
                        <span class="fa fa-fw fa-check"></span>
                    </a>
                    <a title="Hide" href="#card-{{js_id}}" onclick="hide_card('{{id}}')">
                        <span class="fa fa-fw fa-minus-square"></span>
                    </a>
                </span>
            </div>


            <div id="card-fields-{{js_id}}">
            </div>

            <div class="card-add-field">
                <a href="#card-{{js_id}}" onclick="add_field('{{id}}');">
                    <span class="fa fa-fw fa-plus"></span>
                </a>
            </div>
        </script>







        <!-- Whole bookmarks list -->
        <script id="bookmarksTemplate" type="text/x-handlebars-template">
            <ul>
                {{#each bookmarks}}
                    <li>
                        <a title="Bookmark" href="#card-{{js_id}}%>" onclick="toggle_bookmark('{{id}}' )">
                            <span class="bookmark-marker-{{js_id}} fa fa-fw fa-bookmark"></span>
                        </a>
                        <a href="#" onclick="fetch_card('{{id}}');">{{{id}}}</a>
                    </li>
                {{/each}}
            </ul>
        </script>





        <!-- Each field in the edit pane -->
        <script id="editFieldTemplate" type="text/x-nano">
            <div class="card-field card-field-{{js_id}}" id="card-field-id-{{rand}}">
                <a href="#card-{{js_id}}" onclick="remove_field('card-field-id-{{rand}}');">
                    <span class="fa fa-fw fa-times"></span>
                </a>
                <input class="field-key" type="text" value="{{key}}"/>
                <textarea class="field-value">{{{value}}}</textarea>
            </div>
        </script>



        <script src="/js/main.js"></script>
        <!-- Focus the search box on load -->
        <script type="text/javascript" language="javascript">
            $(function() {
              populate_bookmark_list();
              $("#search").focus();
            });
        </script>

    </body>
</html>


