<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Frob</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/fontawesome.css">
        <link rel="stylesheet" href="/css/jquery-ui-1.10.4.custom.css">
        <link rel="stylesheet" href="/css/site.css">
        <link rel="stylesheet" href="/css/flash.css">
        <!-- todo: print styles -->

        <script src="/js/modernizr-2.6.2.min.js"></script>
        <script src="/js/jquery-1.10.2.min.js"></script>
        <script src="/js/jquery-ui-1.10.4.custom.min.js"></script>
        <script src="/js/nano.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <aside>

            <div id="global-actions">
                <a href="#" onclick="rebuild_index();" title="re-index"><span class="fa fa-fw fa-refresh"></span></a>
                <a href="/logout" title="log out"><span class="fa fa-fw fa-lock"></span></a>
            </div>

            <div class="ui-widget">
                <input id="search">
            </div>

            <div id="bookmarks">
                <%= erb :bookmark_list, :layout => nil %>
            </div>
        </aside>

        <!-- Flash -->
        <% flash.each do |k, v| %>
            <section class="flash <%=h k %>"><%=h v %></section>
        <% end %> 

        <div id="content">
            <!-- content -->
            <article>
                <%= yield %>
            </article>
        </div>





        <!-- Card frame (same for edit and get ) -->
        <script id="cardFrameTemplate" type="text/x-nano">
            <section class="card" id="card-{js_id}">
                <!-- Anchor for this card -->
                <a title="card-{js_id}"/>

                <!-- Place where other template content goes -->
                <div class="card-content" id="card-content-{js_id}">
                </div>
                
            </section>
        </script>
        

        <!-- Card view content -->
        <script id="cardViewTemplate" type="text/x-nano">
            <div class="card-banner">
                <span class="fa fa-fw fa-{type_icon}"></span>
                <span class="title">{id}</span>
                <span class="card-actions">
                <a title="Bookmark" href="#card-{js_id}" onclick="toggle_bookmark('{id}' )">
                <span class="bookmark-marker-{js_id} fa fa-fw {bookmark_icon}"></span>
                    </a>

                    <a title="Edit" href="#card-{js_id}" onclick="edit_card('{id}' )">
                        <span class="fa fa-fw fa-pencil"></span>
                    </a>
                    <a title="Delete" href="#card-{js_id}" onclick="delete_card('{id}' )">
                        <span class="fa fa-fw fa-trash-o"></span>
                    </a>
                    <a title="Hide" href="#card-{js_id}" onclick="hide_card('{id}')">
                        <span class="fa fa-fw fa-minus-square"></span>
                    </a>
                </span>
            </div>

            <!-- fields go in here from other templates -->
            <div class="fields">
            </div>

        </script>










        <!-- Each field in the edit pane -->
        <script id="editFieldTemplate" type="text/x-nano">
            <div class="card-field card-field-{js_id}" id="card-field-id-{rand}">
                <input class="field-key" type="text" value="{key}"/>
                <textarea class="field-value">{value}</textarea>
                <a href="#card-{js_id}" onclick="remove_field('card-field-id-{rand}');">
                    <span class="fa fa-fw fa-times"></span>
                </a>
            </div>
        </script>




        <script src="/js/main.js"></script>
        <!-- Focus the search box on load -->
        <script type="text/javascript" language="javascript">
            $(function() {
              $("#search").focus();
            });
        </script>

    </body>
</html>


