
@base: rgb(89, 104, 87);

aside {

    width: 200px;
    background: @base;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;


    #search {
        width: 190px;
        padding: 2px 5px;
        font-weight: bold;
        border: none;
        margin: 0;
    }


    div#bookmarks {
       
        margin: 10px 0;
        
        ul {
            padding: 0;
            margin: 0;

            li {
                
                width: 190px;
                margin: 0;
                padding: 2px 5px;
                font-weight: bold;

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }


    }
}

div#global-actions {
    text-align: center;
    padding: 5px;

    a .fa {
        color: white;
    }
}

div#content {
    
    margin-left: 200px;

}



.card {
    border: solid 1px @base;
    border-radius: 4px;
    margin: 20px;
    
    .card-banner {
        border-bottom: solid @base 1px;
        font-weight: bold;
        font-size: larger;
        padding: 3px;

        .card-actions {
            float: right;
            text-align: right;
        }
    }

    .card-edit-buttons {

        padding: 5px;
        text-align: right;

        button {
            border: none;
            background: none;
        }
    }
}
