
@base: rgb(89, 104, 87);
@linkbase: @base;

aside {

    width: 200px;
    background: @base;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;


    #search {
        width: 190px;
        padding: 2px 5px;
        font-weight: bold;
        border: none;
        margin: 0;
    }


    div#bookmarks {
       
        margin: 10px 0;
        
        ul {
            padding: 0;
            margin: 0;

            li {
                
                width: 190px;
                margin: 0;
                padding: 2px 5px;
                font-weight: bold;

                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }


    }
}

div#global-actions {
    text-align: center;
    padding: 5px;

    a .fa {
        color: white;
    }
}

div#content {
    
    margin-left: 200px;

}



.card {
    border: solid 1px @base;
    border-radius: 4px;
    margin: 20px;
    
    .card-banner {
        border-bottom: solid @base 1px;
        font-weight: bold;
        font-size: larger;
        padding: 3px;

        .card-actions {
            float: right;
            text-align: right;

            a {
                color: @linkbase;
                text-decoration: none;

                &:active {
                    color: red;
                }
            }
        }
    }

    .card-field {
        margin: 5px;

        a {
            color: @linkbase;
            text-decoration: none;
        }
      
        input {
            display: inline-block;
            width: 20%;
            border: solid 1px #eee;
            font-size: 15px;
            padding: 0 2px;
            line-height: 15px;
        }


        textarea {
            display: inline-block;
            width: 70%;
            padding: 0 7px;
            border: solid 1px #eee;
            padding: 0 2px;
            font-size: 15px;
            line-height: 15px;
        }
    }

    .card-add-field {
        width: 100%;
        text-align: center;
        padding: 10px 0;

        a {
            color: @linkbase;
            text-decoration: none;
        }
    }

    .card-edit-buttons {

        padding: 5px;
        text-align: right;

        button {
            border: none;
            background: none;
        }
    }

    // Content
    .fields {
        .field {
            margin: 5px;

            font-family: monospace;

            .key {
                font-size: 120%;
                font-weight: bold;
            }

            .value {
                margin-top: 0.2em;
                display: inline-block;
                white-space: pre-wrap;
                vertical-align: top;
            }
        }
    }
}
